<!--1 add ng-controller directive to div container -->
<div class="container" ng-controller="orderController">
<!-- 	{{orders}}
	<hr>
	{{menus}}
 -->


<div class="row">
	<div class="col s12 m12 l12">
		<h5 class="center-align">Create New Orders</h5>
		<div id='menu'>
			<h3>Menu</h3>
			  	<table>
			    	<tr>
			    		<th>Item</th>
			    		<th>Price</th>
			    		<th>Add</th>
			    	</tr>
						<tr ng-repeat="item in menus" value="{{item}}">
							<td>{{item.name}}</td>
							<td>{{item.price}}</td>
							<td><button ng-click='itemOrder(item)'>+</button></td>
						</tr>
					</table>
			</div>
			<div id='order_items'>
				<h3>Order</h3>
					<table>
			    	<tr>
			    		<th>Item</th>
			    		<th>Price</th>
			    		<th>Delete</th>
			    	</tr>
						<tr ng-repeat="item in itemsOrder track by $index" value="{{item}}">
							<td>{{item.name}}</td>
							<td>{{item.price}}</td>
							<td><button ng-click='removeOrder($index)'>-</button></td>
						</tr>
					</table>
					<h4>Total: {{newOrder.total}}</h4>
			</div>
		<form class="form">
			    <select class="browser-default" ng-model='newOrder._customer'>
			    	<option value="" disabled selected>Select Customer</option>
			    	<option ng-repeat="customer in customers" value="{{customer._id}}">{{customer.name}}</option>
			    </select> 			


				<label for="name1">Name:</label>
			    <!--2b declare ng-model-->
			    <input id="name1" class='form-control' type='text' name='name' ng-model='newOrder.name' required>

			   	<label for="group1">Type:</label>
			    <!--2b declare ng-model-->
			    <select class='browser-default' ng-model='newOrder.type'>
			    	<option value='Dine-In'>Dine-In</option>
			    	<option value='Take-Out'>Take-Out</option>
			    </select>

			    <textarea ng-model='newOrder.comment'>
			    </textarea>
<!-- 
			    <ul>
			    	<li ng-repeat='item in itemsOrder'>
			    		{{item.name}}
			    	</li>
			    </ul> -->

			
<!-- 			    <select class="browser-default" ng-model='newOrder.item'>
			    	<option value="" disabled selected>Select Menu</option>
			    	<option ng-repeat="item in menus" value="{{item}}">{{item.name}}</option>
			    </select>  -->

		<!-- 	    <select class="browser-default" ng-model='newOrder.qty'>
			    	<option value="" disabled selected>Select Qty</option>
		    	    <option value="1">1</option>
  					<option value="2">2</option> 
  					<option value="3">3</option>
  					<option value="4">4</option>
  					<option value="5">5</option>
			    </select> 		 -->	    


			    <input class="waves-effect waves-light btn blue" type="submit" value="Submit" ng-click='addOrder(newOrder, itemsOrder)'>

		</form>
	</div>
</div>

<div class="row">
<div class="col s12 m6 l4" ng-repeat="order in orders | orderBy:'-created_date'">
	<div class="card grey darken-4">
		<div class="card-content white-text">
		{{order.created_date | date:'MMM d, yyyy - h:mm a'}}
		<p>{{order._customer.name}}</p>
		<p>{{order.name}}</p>
		<p>{{order.type}}</p>
		<div ng-repeat='menu in order.menu'>
			{{menu.name}} : {{menu.qty}}
		</div>
		<p>Total: ${{order.total}}</p>
		</div>
		<div class="card-action center">
			<span><a class="btn blue" href="#/thisOrder/{{order._id}}"><i class=" material-icons">mode_edit</i></a></span>
			<span><input class="btn red material-icons prefix" type="submit" value="delete" ng-click="deleteOrder(order)"></span>
		</div>
	</div>
</div>
</div>


<!--ends dive container -->	
</div>