<!-- 1b add ng-controller directive to div container -->
<div class="container" ng-controller='thisCustomerController'>
	{{oneCustomer}}

	<!-- start form for order -->
	<div class="row">
		<div class="col s12 m12 l12"> 
	    <h5 class="center-align">hi Order</h5>
			<form class='form'>
			    <label for="name1">Name:</label>
			    <!--2b declare ng-model-->
			    <input id="name1" class='form-control' type='text' name='name' ng-model='oneCustomer.name' required>

			    <label for="group1">Location:</label>
			    <!--2b declare ng-model-->
			    <input id="group1" class='form-control' type='text' name='group' ng-model='oneCustomer.location' required>

			    <input class="waves-effect waves-light btn blue" type="submit" value="Submit" ng-click='editThisCustomer(oneCustomer)'>
			</form>
		</div>
	</div>
	<!-- ends form for order -->


</div>
 <!-- ends container & controller 



